@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><button onclick="bool = !bool">|></button></p>
    <p>Answer</p>
    <p id="answerbox"></p>

    <img id="kartinka" alt="Red dot">
    <script>
        var bool = true;
        var testSocket = new WebSocket("wss://localhost:5001/ws");
        testSocket.onmessage = function (e) {
            //document.getElementById("answerbox").innerHTML += e.data;
            if (bool) {
                document.getElementById("kartinka").setAttribute("src", "data:image/jpeg;base64," + e.data);

            }
        }
        
        socket.onclose = function (event) {

            setTimeout(function () {

                var testSocket = new WebSocket("wss://localhost:5001/ws");

            }, 1000);

        }
    </script>

</div>
